body {
  font-family: initial;
  font-size: inherit;
}

body.dark {
  background-color: #121212;
}

/*===scrollbar===*/

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-resizer,
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

* {
  scrollbar-color: #aaa transparent;
  scrollbar-width: thin !important;
}

/*===scrollbar:end===*/

/*button:focus:start*/

button:focus {
  outline: unset;
}

/*button:focus:end*/

/*input[type="number"]:start*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*input[type="number"]:end*/

/*navigation-drawer*/

.v-navigation-drawer.theme--dark {
  background-color: #272727;
}

/*navigation-drawer:end*/

/*data-table*/

.v-data-table>.v-data-table__wrapper tbody tr:last-child:hover td:first-child,
.v-data-table>.v-data-table__wrapper tbody tr:last-child:hover td:last-child {
  border-radius: 0;
}

/*data-table:end*/

/*button-group*/

.v-application--is-ltr .v-btn-toggle>.v-btn:last-of-type {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

/*button-group:end*/

/*menu*/

.v-menu__content.theme--light::-webkit-scrollbar-corner,
.v-menu__content.theme--light::-webkit-scrollbar-track {
  background: #fff !important;
}

.v-menu__content.theme--dark::-webkit-scrollbar-corner,
.v-menu__content.theme--dark::-webkit-scrollbar-track {
  background: #1e1e1e !important;
}

.v-menu__content {
  z-index: 4 !important;
}

/*menu:end*/